<nav id="nav" class="navbar navbar-expand-lg navbar-dark position-fixed bg-dark mb-3 ">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/logo.png" height="40" class="logo">
        </a>

        <div class="order-lg-last flex-shrink-0">

           <!--  <a href="#" class="btn btn-icon btn-dark">
                <i class="fa fa-search"></i>
            </a> -->
            <a [routerLink]="['/login']" class="btn btn-icon btn-dark">
                <i class="fa fa-user"></i>
            </a>
            <a [routerLink]="['/cart']" class="btn btn-icon btn-primary">
                <i class="fa fa-shopping-cart"></i> 
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_main4"
                aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar_main4">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']"> Inicio </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/productos']"> Productos </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Categorias </a>
                </li>
               <!--  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false"> Products </a>
                    <ul class="dropdown-menu">
                        <li> <a class="dropdown-item" href="#"> Submenu item 1 </a> </li>
                        <li> <a class="dropdown-item" href="#"> Submenu item 2 </a> </li>
                    </ul>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#"> Contacts </a>
                </li> -->
            </ul>
        </div> <!-- navbar-collapse end.// -->
    </div> <!-- container end.// -->
</nav> <!-- navbar end.// -->